<%= form_with(model: @user, local: true) do |f| %>
<% if @user.errors.any? %>
<div class="row ">
  <div class="col"></div>
  <div class="col-5">
    <div class="card border-danger bg-light">
      <div class="card-body">
        <div class="card-title text-danger">
          <%= pluralize(@user.errors.count, "error") %> prohibited you from creating your account:
        </div>
        <ul class="mb-2 list-unstyled">
          <% @user.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
<% end %>

<div class="row mt-4">
  <div class="col"></div>
  <div class="col-5">
    <div class="form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
    </div>
    <div class="form-group">
      <%= f.label :email_address, "Email" %>
      <%= f.email_field :email_address, class: "form-control", placeholder: "Enter your email" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "Password" %>
      <%= f.password_field :password, class: "form-control", placeholder: "Enter your password", automcomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.submit(@user.new_record? ? "Sign Up" : "Update account", class: "btn btn-primary") %>
    </div>
  </div>
  <div class="col"></div>
</div>
<% end %>

<div class="text-center mt-4">
  <p>
    <%= link_to  "Back to home", root_path, class: "text-decoration-none" %>
  </p>
</div>