<div class="row my-4">
  <div class="col">
    <h1 class="display-5 font-weight-normal">Organizations</h1>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <p class="lead">
      You're currently not a member of an organization, you can join one below or <%= link_to 'create a new one.', new_organization_path %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th>Organization</th>
          <th>Hourly rate</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @organizations.each do |organization| %>
        <tr>
          <td><%= organization.name %></td>
          <td>$<%= organization.hourly_rate %></td>
          <% if current_user.organization_id != organization.id %>
          <td>
            <%= link_to 'Join', join_path(organization: organization), method: :patch, class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_organization_path(organization), class: "btn btn-success" %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>