<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @organization.hourly_rate %>
</p>

<p id="notice"><%= notice %></p>

<h1>Shifts</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Break length</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @organization.users.map do |user| %>
    <% user.shifts.map do |shift| %>
    <tr>
      <td><%= User.find(shift.user_id).name %></td>
      <td><%= shift.start %></td>
      <td><%= shift.finish %></td>
      <td><%= shift.break_length %></td>
      <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
      <td><%= link_to 'Destroy', shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift', new_shift_path %>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>