<div class="row my-4">
  <div class="col">
    <h1 class="display-5 font-weight-normal"><%= @organization.name %></h1>
  </div>
</div>

<h2 class="mb-4 font-weight-light">Shifts</h2>

<table class="table">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Date</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Break Length</th>
      <th>Hours Worked</th>
      <th>Shift Cost</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organization.users.map do |user| %>
    <% user.shifts.map do |shift| %>
    <tr>
      <td><%= User.find(shift.user_id).name %></td>
      <td><%= shift.shift_date %></td>
      <td><%= shift.start.strftime("%I:%M%p") %></td>
      <td><%= shift.finish.strftime("%I:%M%p") %></td>
      <td><%= shift.break_length %> mins</td>
      <td></td>
      <td></td>
      <td><%= link_to 'Destroy', shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift', new_shift_path %>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Leave', leave_path, method: :delete, data: { confirm: 'Are you sure? All your shifts will disappear.'} %>